body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	font-style: normal;
	text-rendering: optimizelegibility;
	font-family: $main-font,cursive;
	font-size: $base-font-size;
	letter-spacing:1px;
	word-spacing:1px;
	min-width:320px;
	overflow-x:hidden;
	color:$main-text-color;
	::selection,::-moz-selection {
		background:rgba(0,0,0,0.05);
		color:inherit;
	}
	ul,ol{
		padding:0;
		margin:0;
		list-style: none;
	}
	.nav > li > a:focus, .nav > li > a:hover{
		background: rgba(0,0,0,0);
	}
	button,a,input,select{
		color:$main-text-color;
		transition-duration: 0.15s;
		&:focus, &:hover{
			color:inherit;
			transition-duration: 0.25s;
			outline:0;
			background: inherit;
			text-decoration: none;
			img{
				border:0;
			}
		}
		img{
			border:0;
		}
	}
	background-color: #f3f3f3;
}
html{
	min-width: 320px;
	.container{
		min-width: 320px;
	}
	&.ie,&.firefox.windows{
		body{
			font-family: $main-font-fallback;
		}
	}
}

body{
	.wrap.container{
		width: 100%;
		main{
			padding:0;
			width:100%;
		}
	}
	#cboxOverlay{
		background-color: #000;
	}
	#colorbox {
	    background: #fff;
	}
	#cboxContent {
	    background: #fff;
	    margin-top: 95px;
	    margin-left: 75px;
	    margin-right: 75px;
	    margin-bottom: 180px;
	}
	#cboxTitle{
	    color: #404040;
	    background-color: #ddd;
	    display: block;
	    float: right;
	    margin-top: 40px;
	    position: relative;
	    z-index: 1;
	    padding: 10px;
	}
	#cboxClose{
		background-image: url("../images/common/close.svg");
		background-size: 27px auto;
		height: 27px;
		width: 27px;
		background-position: 0 0;
		right: -65px;
		top: -85px;
		&:hover{
			background-position: 0 0;
		}
	}

}

$browser-xs-viewport: 320; // Default
$browser-sm-viewport: 768; // Default

@function vw768($pixels, $context: $browser-sm-viewport) {
  @return #{$pixels/$context*100}vw;
}

@function vw320($pixels, $context: $browser-xs-viewport) {
  @return #{$pixels/$context*100}vw;
}