// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;


@font-face { 
	font-family: 'msjh-arial'; 
	src:  local("Lantinghei")
		, local('微軟正黑體')
		, local("STHeiti")
		, local("メイリオ")
		, local("Meiryo")
		, local("ヒラギノ角ゴ Pro w3")
		, local("Hiragino Kaku Gothic Pro")
		, local("Osaka")
		, local("STXihei")
		, local("HEITI TC")
		, local("黑體-繁")
		, local("黑體");
}
@font-face {
	font-family: 'msjh-arial';
	src: local('Arial')
		, local("Segoe UI")
		, local("Verdana")
		, local("ＭＳ Ｐゴシック")
		, local("MS P Gothic")
		, local("Helvetica Neue")
		, local("Helvetica")
		, local("sans-serif");
	font-weight: normal;
	font-style: normal;
	unicode-range: U+00-024F;
}

$main-font: 'msjh-arial';
$main-font-fallback:'Arial', 'Verdana', 'Lantinghei', 'microsoft jhenghei', '微軟正黑體', 'Segoe UI';
$base-font-size: 13px;
$base-font-size-num: 13;
$base-font-size-sm: 10px;

.font-default{
	font-family: $main-font, $main-font-fallback, cursive;
}
.fontsize-reset {
	font-size: $base-font-size;
}

@for $i from 11 to 44 {
	.fontsize-#{$i} {
		font-size: percentage($i/$base-font-size-num);
	}
}


$main-text-color: #404040;

$main-red: #d22614;