.post-type-archive-events {
	min-width: 320px;
	.taxonomy{
		margin:40px auto 30px;
		width:100%;
		text-align: center;
		border: solid #bebebe;
		border-width:1px 0;
		position: relative;
		&:after{
			border: solid #bebebe;
			border-width:1px 1px 0 0;
			content: ' ';
			background: #f3f3f3;
			position: absolute;
			width:12px;
			height:12px; 
			top:0;
			left: 50%;
		    transform: rotateZ(-45deg);
			transform-origin: -50% bottom 0;
		}
		ul{
			display: inline;
			line-height: 40px;
			letter-spacing: 40px;

			li{
				display: inline-block;
				line-height: 1.2em;
				letter-spacing: 1px;
				a{
					padding:11px 19px;
				}
			}
		}
		&.events{
			display: block;
		}
	}
	main{
		.kv{
			padding-top:250px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	.container{
		.start-point{
			position: relative;
			background: #3cb29a;
			display: block;
			width: 15px;
			height: 15px;
			margin: -20px auto 20px;
			border-radius: 50%;
		}
		.readmore{
			background: #3cb29a none repeat scroll 0 0;
			border-radius: 50%;
			color: #fff;
			display: block;
			font-size: 138.462%;
			height: 80px;
			left: -39.5px;
			line-height: 1.2em;
			margin-left: 50%;
			padding: 20px;
			position: relative;
			text-align: center;
			width: 80px;
			margin-bottom:40px;
			margin-top:-20px;
			font-weight: bold;
		}
		.year{
			font-size: percentage(30/13);
			font-weight: bold;
			width: 100%;
			display: block;
			background: #f3f3f3;
			color:#3cb29a;
			margin-bottom:20px;
			text-align: center;
		    position: relative;
		    line-height: percentage(43/30);
		    &:before{

		    }
		}
		.link{
			img, svg{
				width: 20px;
				margin: 0 auto;
			}
			position: absolute;
			bottom:25px;
			right:25px;
			svg{
				path{
					fill:$main-red;
				}
			}
		}
		.cd-timeline{
			margin:0 -15px 20px;
		    padding: 20px 0;
			&:nth-child(1){
				.year{
					margin-top: 0;
				}
			}
			&:before{
				background:#3cb29a;
				width: 1px;
				margin-left:-0.5px;
			}	
			&.dark{
				&:before{
					background:#1d556f;
				}	
				.start-point{
					background: #1d556f;
				}
				.cd-timeline-content{
					&:before{
					    background-color: #1d556f;
					}
				}
				.year{
					color:#1d556f;
				}
				.cd-timeline-img{
					background:#1d556f;
				}
				&+.readmore{
					background: #1d556f; 
				}
			}
		}
		.cd-timeline-block{
			height: 0;
			&:nth-child(n){
				margin-bottom:200px;
			}
			&:nth-child(2n){
				z-index: 1;
				margin:0 0 380px;
				.cd-timeline-content{
					&:before{
						left: -21px;
					}
				}
			}
			&:last-child{
				margin-bottom:460px;
			}
		}
		.cd-timeline-content{
			background: rgba(0,0,0,0);
			box-shadow: none;
			width: percentage(560/1170);
			height: 460px;
			padding:0;
			&:before{
			    background: #3cb29a none repeat scroll 0 0;
			    border: 0 none;
			    height: 1px;
			    left: auto;
				right: -20px;
				top: 234px;
				width: 10px;
			}
			figure{
				background-size: cover;
				background-repeat: no-repeat;;
				background-position: center;
				display: block;
				width: 100%;
				height: 330px;
			}
			article{
				position: relative;
				background-position: $main-red;
				margin:-70px percentage(40/560) 0;
				width: percentage(480/560);
				height: 200px;
				background: #fff;
				color:#404040;
				font-size: percentage(14/14);

				span.active{
					color: $main-red;
					font-size: percentage(18/14);
				}
				span.past{
					font-size: percentage(14/14);
				}
				h3{
					font-size: percentage(22/14);
					margin-bottom: 35px;
				}
				.category{
					color: $main-red;
					font-size: percentage(14/14);
					svg{
						path{
							fill:$main-red;
						}
					}
				}
				.normal, .hover{
					padding:50px 50px 25px 50px;
					background-color: #fff;
					position: absolute;
					width: 100%;
					height: 100%;
					top:0;
					left:0;
				}
				.hover{
					background-color: rgba(210, 38, 30, 0.9);
					color:#fff;
				}
				.link{
					position: absolute;
					bottom:25px;
					right:25px;
					svg{
						path{
							fill:$main-red;
						}
					}
				}

			}
			&:hover{
			  	@media screen and (min-width: 1170px) {
					figure{
						filter:url('data:image\/svg+xml;utf9,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"2\" \/><\/filter><\/svg>#blur');
						-webkit-filter:blur(2px);
					}
					article{
						.normal{
							opacity: 0;
							height:0;
							overflow: hidden;
							transition:0.35s opacity 0s,0s height 0.35s;
							transition-duration:0.35s;
						}
						.link{
							background: rgba(0,0,0,0);
							svg{
								path{
									fill:#fff;
								}
							}
						}
						.date{
							opacity:0;
						} 
					}
				}
			}
			.date{
				position: absolute;
				top:0;
				right:0;
				width: 70px;
				height: 70px;
				color: #fff;
				background: $main-red;
				font-size: percentage(14/13);
				text-align: center;
				line-height: 1;
				.day{
					font-size: percentage(30/13);
				}
			} 
			&:first-child{
				margin-top:0;
			}
		}
		.cd-timeline-img{
		    border-radius: 50%;
		    box-shadow: none;
		    height: 9px;
		    left: 5;
		    position: absolute;
		    top: 230px;
		    width: 9px;
		    margin-left: -5px;
			background:#3cb29a;
		}
	}
  	@media (min-width: 320px) and (max-width: 767px) {
  		.kv{
  		}
		.taxonomy{
			position: absolute;
			height: vw320(40);
			background-color: #707070 ;
			border: 0;
			cursor: pointer;
			z-index: 1;
			margin:0;
			&:after{
				width: 100%;
				position: absolute;
				left:0;
				top:0;
				height: 100%;
				color:#fff;
				content:'聽場演講';
				font-size: vw320(15);
				letter-spacing: 1px;
				transform: none;
				background: none;
				line-height: vw320(40);
				padding-left: vw320(60);
				text-align: left;
				border: 0;
				z-index: 1;
			}
			&:before{
				z-index: 1;
				content:'';
				width: 100%;
				position: absolute;
				left:0;
				top:0;
				height: 100%;
				text-align: left;
				transform-origin:vw320(40) center 0;
				transition-duration:0.45s;
				background: url(../images/common/menu.svg) vw320(20) center/ vw320(20) auto no-repeat;
			}
			&.on{
				&:before{
					transform:rotateX(-180deg);
				}
				ul{
					height: vw320(280);
				}
				li{
					top: 0 !important;
				}
			}
			ul{
				overflow: hidden;
				display: block;
				margin-top: vw320(40);
				width: 100%;
				height: 0;
				position: static;
				li{
				    display: block;
					transition-duration:0.45s;
					position: relative;
					width: 100%;
					a{
						color: #fff;
						&:hover,&:focus{
							color: #fff;
						}
						display: block;
						letter-spacing: 1px;
						font-size: vw320(15);
						width: 100%;
						height: vw320(40);
						line-height: vw320(42);
						padding:0;
					}
					&:nth-child(1){
						top:vw320(-40);
						background-color:#606060; 
						z-index: 5;
					}
					&:nth-child(2){
						top:vw320(-80);
						background-color:#505050; 
						z-index: 4;
					}
					&:nth-child(3){
						top:vw320(-120);
						background-color:#404040; 
						z-index: 3;
					}
					&:nth-child(4){
						top:vw320(-160);
						background-color:#303030; 
						z-index: 2;
					}
					&:nth-child(5){
						top:vw320(-200);
						background-color:#202020; 
						z-index: 1;
					}
					&:nth-child(6){
						top:vw320(-240);
						background-color:#101010; 
						z-index: 0;
					}
				}
			}
		}

		.container{
			.readmore{
				padding: vw320(10);
				font-size: vw320(14);
				height: vw320(50);
				width: vw320(50);
				left: vw320(-24.5);
				line-height: 1.2em;
				margin-left: 50%;
				padding: vw320(10);
				margin-bottom:vw320(40);
			}
			.cd-timeline::before {
				left: -1px;
				margin-left: 50%;
			}
			.cd-timeline-img{
				display: none;
			}
			.cd-timeline-content{
				background: rgba(0,0,0,0);
				box-shadow: none;
				width: vw320(300) !important;
				margin:0 auto;
				padding:0;
				&:before{
				    display: none;
				}
				figure{
					width: vw320(300);
					height: vw320(200);
					&:before{
						width:100%;
						height: 100%;
						display: block;
						content: '';
						left:0;
						right: 0;
						background-color: rgba(0,0,0,0.5);
						border-top:5px solid $main-red;
						opacity: 0;
						transition-duration:0.45s;
					}
				}
				article{
					width: 100%;
					margin-left: 0;
					margin-right: 0;
					margin-top:vw320(-45);
					height: vw320(155);
					.normal{
						padding:vw320(40) vw320(10) vw320(5);
						height: auto;
					}
					.category{
						font-size:vw320(12);
					}
					h3{
						font-size:vw320(16);
						margin:vw320(10) 0 vw320(30);
					}
					.active{
						font-size:vw320(14);
					}
					.past{
						font-size:vw320(12)!important;
					}
					.date{
						width: vw320(50);
						height: vw320(50);
						font-size:vw320(11);
					}
					.day{
						font-size:vw320(22);
					}
					.link{
						bottom:vw320(10);
						right:vw320(15);
					}
				}
				&:hover{
					figure{
						filter: none;
						-webkit-filter: none;
						&:before{
							opacity: 1;
						}
					}
					article{
						.normal{
							opacity: 1;
							overflow: hidden;
						}
					}
				}
				.date{
					position: absolute;
					top:0;
					right:0;
					width: 70px;
					height: 70px;
					color: #fff;
					background: $main-red;
					font-size: percentage(14/13);
					text-align: center;
					line-height: 1;
					.day{
						font-size: percentage(30/13);
					}
				} 
				&:first-child{
					margin-top:0;
				}
			}
			.cd-timeline-block{
				height: 0;
				margin-bottom: vw320(330) !important;
			}
		}

	}
  	@media (min-width: 768px) and (max-width: 1170px) {
  		.kv{
  		}
		.taxonomy{
			position: absolute;
			top:0;
			height: vw768(40);
			margin: 0;
			background-color: #707070 ;
			border: 0;
			cursor: pointer;
			&:after{
				width: 100%;
				position: absolute;
				left:0;
				top:0;
				height: 100%;
				color:#fff;
				content:'參加活動';
				letter-spacing: 1px;
				transform: none;
				background: none;
				line-height: vw768(40);
				padding-left: vw768(60);
				text-align: left;
				border: 0;
				z-index: 1;
			}
			&:before{
				z-index: 1;
				content:'';
				width: 100%;
				position: absolute;
				left:0;
				top:0;
				height: 100%;
				text-align: left;
				transform-origin:vw768(40) center 0;
				transition-duration:0.45s;
				background: url(../images/common/menu.svg) vw768(20) center/ vw768(20) auto no-repeat;
			}
			&.on{
				&:before{
					transform:rotateX(-180deg);
				}
				li{
					transform: none !important;
				}
			}
			ul{
				overflow: hidden;
				display: block;
				margin-top: vw768(40);
				width: 100%;
				position: relative;
				li{
				    display: block;
					transition-duration:0.45s;
					a{
						color: #fff;
						&:hover,&:focus{
							color: #fff;
						}
						display: block;
						letter-spacing: 1px;
						width: 100%;
						height: 100%;
						padding: vw768(12) 0;
					}
					&:nth-child(1){
						background-color:#606060; 
						transform:translateY(-100%) translateZ(-1px) ;
					}
					&:nth-child(2){
						background-color:#505050; 
						transform:translateY(-200%) translateZ(-1px);
					}
					&:nth-child(3){
						background-color:#404040; 
						transform:translateY(-300%) translateZ(-1px);
					}
					&:nth-child(4){
						background-color:#303030; 
						transform:translateY(-400%) translateZ(-1px);
					}
					&:nth-child(5){
						background-color:#202020; 
						transform:translateY(-500%) translateZ(-1px);
					}
					&:nth-child(6){
						background-color:#101010; 
						transform:translateY(-600%) translateZ(-1px);
					}
				}
			}
		}
		.container{
			width: vw768(720);
			.cd-timeline-img{
				left: 50%;
    			top: vw768(111);
			}
			.cd-timeline-block{
				&:nth-child(2n) .cd-timeline-content{
					float: right;
				}
				&:nth-child(n){
					margin-bottom:vw768(80);
					.cd-timeline-content{
						&:before{
							right: vw768(-25);
						}
					}
				}
				&:nth-child(2n){
					margin:0 0 380px;
					.cd-timeline-content{
						&:before{
							left: vw768(-25);
						}
					}
				}
				&:last-child{
					margin-bottom:vw768(312)!important;
				}
			}
			.cd-timeline-content{
				background: rgba(0,0,0,0);
				box-shadow: none;
				margin-left: 0;
				width: vw768(336) !important;
				height: auto;
				figure{
					width: vw768(336);
					height: vw768(200);
					&:before{
						width:100%;
						height: 100%;
						display: block;
						content: '';
						left:0;
						right: 0;
						background-color: rgba(0,0,0,0.5);
						border-top:5px solid $main-red;
						opacity: 0;
						transition-duration:0.45s;
					}
				}
				&:before{
					top: vw768(115);
					width: 20px;
				}
				article{
					width: vw768(300);
					margin-left: auto;
					margin-right: auto;
					margin-top: -45px;
					height: vw768(155);
					.link{
						bottom:vw768(10);
						right:vw768(15);
					}
					.category{
						font-size:vw768(12);
					}
					h3{
						font-size:vw768(16);
						margin:vw768(10) 0 vw768(30);
					}
					.active{
						font-size:vw768(14);
					}
					.past{
						font-size:vw768(12)!important;
					}
					.normal{
						padding:vw768(40) vw768(10) vw768(15);
						height: auto;
					}
					.date{
						width: vw768(50);
						height: vw768(50);
						font-size:vw768(11);
					}
					.day{
						font-size:vw768(22);
					}
				}
				&:hover{
					figure{
						filter: none;
						-webkit-filter: none;
						&:before{
							opacity: 1;
						}
					}
				}
			}
			.cd-timeline::before {
				left: -1px;
				margin-left: 50%;
			}
		}
	} 
}