.container.fit{
	width:100%;
	padding:0 40px;
}
.wrap.container{
	&.blur{
		position: relative;
		&:after{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			content: '';
			display: block;
			background: rgba(0,0,0,0.4);
			z-index: 1;
		}
		filter:url('data:image\/svg+xml;utf9,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"1\" \/><\/filter><\/svg>#blur');
		-webkit-filter:blur(1px);
	}
}

@import "home";

@import "about";

@import "contact";

@import "events";