$icon-font-path: '../fonts/';

@import "section/font";
@import "headline/headline";
@import "slick-theme";

// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

$main-active-color:         #CFB964 !default;

$disable-warnings: false !default;

// $main-active-color:         #ffb6ba !default;


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#tinymce{
  background:inherit;
  font-family:  "nav","微軟正黑體", "Lantinghei SC", "STHeiti",メイリオ,Meiryo,"ヒラギノ角ゴ Pro w3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS P Gothic",STXihei,"HEITI TC",黑體-繁,黑體,Arial,Helvetica,sans-serif,"Segoe UI","Helvetica Neue",cursive;
  color:#161616;
}
/* Space out content a bit */
body {

  background:#000;
  font-family:  "nav","微軟正黑體", "Lantinghei SC", "STHeiti",メイリオ,Meiryo,"ヒラギノ角ゴ Pro w3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS P Gothic",STXihei,"HEITI TC",黑體-繁,黑體,Arial,Helvetica,sans-serif,"Segoe UI","Helvetica Neue",cursive;
  color:#696969;
  ::selection,::-moz-selection {
    background:$main-active-color;
    color:inherit;
  }
  img::selection,img::-moz-selection {
    background:rgba(207,185,100,0.1);
    color:inherit;
  }
  @media screen and (max-width: 1170px) {
    font-size:14px;
  }
  a{
    color:#000;
    transition-duration: 0.15s;
    &:focus,&:hover,&:active,&.active{
      transition-duration: 0.25s;
      color:$main-active-color;
      outline:0;
      text-decoration: none;
    }
  }
  ul{
    margin:0;
    padding:0;
    li{
      list-style: none;
      display: inline-block;
    }
  }
  h3{
    font-size: percentage(18/14);
  }

  @import "section/page";

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

@import "section/menu";

@import "section/floating";

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  // border-top: 1px solid #545454;
  background:#000;
  text-align: center;
  .logo{
    display: block;
    margin:0 auto;
    width:137px;
    svg#logo{
      width: 100%;
      fill:#fff;
      transition-duration: 0.25s;
      &:hover,&:focus,&:active{
        fill:$main-active-color;
      }
    }
  }
  p{
    margin:10px auto 0;
    text-align: center;
    color:#fff;
    font-size:percentage(12/14);
    font-family:arial;
    letter-spacing: 1px;
  }
  ul{
    margin:25px auto 40px;
    padding-top:25px;
    border-top:1px solid #404040;
    text-align: center;
    display: inline-block;
    position: relative;
    li{
      display: inline-block;
      letter-spacing: 1px;
      font-size:percentage(12/14);
      a{
        display: inline-block;
        color:#fff;
        position:relative;
        line-height: 1.6em;
        &:hover,&:focus,&:active{
          &:before{
            position:relative;
            color:$main-active-color;
          }
          &:after{
            transform:none;
            opacity: 1;
            height:1px;
          }
        }
        &:after{
          position: absolute;
          width:100%;
          height:0px;
          background:$main-active-color;
          transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, height 0.3s ease 0s;
          left:0;
          bottom:-1px;
          color:#fff;
          content:' ';
          transform:translateY(5px);
          opacity: 0;
        }
        &:before{
          content:attr(title);
        }
      }
      &+li{
        &:before{
          display: inline-block;
          content:'/';
          padding: 0 10px;
          font-style:italic;
          color:#404040;
        }

      }
    }
  }
  ol{
    margin:25px auto 0;
    padding-top:25px;
    width:100%;
    text-align: center;
    display: inline-block;
    position: relative;
    letter-spacing: 25px;
    @media  (min-width: 768px) and (max-width: 1170px) {
      letter-spacing: 10px;
    }
    @media  screen and (min-width: 1170px) {
      display: none;
    }
    padding:0;
    li{
      display: inline-block;
      letter-spacing: 1px;
      font-size:percentage(20/14);
      a{
        color:#fff;
        &:hover,&:focus,&:active{
          color:$main-active-color;
        }
      }
    }
  }
}

@import "section/kv";

.container{
  position:relative;
}

@import "section/home";

@import "section/reportlist";

@import "section/interviewlist";

@import "section/search";

@import "section/vendors";

@import "section/vendor-list";

@import "section/event";


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1100px) {
  .container {
    max-width: 1010px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}
